/* 1 block */

/* 1 block end */

/* 2 block */
 .block-2 {
    position:absolute;
    top: 70rem;
 }
 .block2-button {
    position: absolute;
    top: 70rem;
    left: 50rem;
    width: 75px; ;
    height: 26px;
 }
 .text-2class {
    position: absolute;
    top: 74rem;
    left: 50rem;
 }
 .text-2block {
    position: absolute;
    left: 50rem;
    top: 85rem;
    color: #151515;
 }
 .knopka1 {
    position: absolute;
    top: 90rem;
    left: 50rem;
 }
.tochka {
    position: absolute;
    top: 90rem;
    left: 48rem;
}
/* 2 block end */

/* 3 block */

/* 3 block end */

/* 4 block */

/* 4 block end */

/* 5 block */

/* 5 block end */

/* 6 block */

/* 6 block end */

/* 7 block */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-dark {
    background-color: #151515;
}

.container {
    max-width: 1296px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


footer {
    padding-top: 32px;
    padding-bottom: 32px;
    color: #fff;
}

/* 7 block end */