/* 1 block */

/* 1 block end */

/* 2 block */

/* 2 block end */

/* 3 block */

/* 3 block end */

/* 4 block */

/* 4 block end */

/* 5 block */

/* 5 block end */

/* 6 block */

/* 6 block end */

/* 7 block */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-dark {
    background-color: #151515;
}

.container {
    max-width: 1296px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


footer {
    padding-top: 32px;
    padding-bottom: 32px;
    color: #fff;
}

/* 7 block end */